<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td <% if item.complete? %>style="text-decoration: line-through;"<% end %>><%= item.name %></td>
        <td><%= item.status.name %></td>
        <td><%= link_to 'Edit', edit_list_item_path(@list, item) %></td>
        <td><%= link_to 'Destroy', list_item_path(@list, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_list_item_path %>
