<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
				
				<%= stylesheet_link_tag    "logged_out", media: "all", "data-turbolinks-track" => true %>
				<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
				<%= csrf_meta_tags %>
        
				<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

			<header>
				<h1>Dingly</h1>

				<nav>
					<% if request.fullpath.include?("sign_up") then %>
						<%= link_to "Login", new_user_session_path %>
					<% else %>
						<%= link_to "Sign Up", new_user_registration_path %>
					<% end %>
				</nav>
			</header>
			
			<div class="clear"></div>
			
			<%= content_tag :div, class: "wrap" do %>
				<h2>Find out what you and the people you care about need.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<%= yield %>
			<% end %>

			<%= link_to "Log out", destroy_user_session_path, method: :delete %>
			<script type="text/javascript" src="//use.typekit.net/pmj6exf.js"></script>
			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </body>
</html>
